
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
 
  --first-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/

  --body-font: 'Alata', sans-serif;
  --header-font: 'Josefin Sans', sans-serif;
  --biggest-font-size: 2.375rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
}
footer.home__footer{
  padding-top: 2em;
  min-height: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
footer.home__footer div{
    display: flex;
    justify-content: right;
    /* flex-direction: column; */
    margin-bottom: 1.6em;
    width: 100%;
  }
  footer.home__footer  img{
    width: 200px
  }
  footer.home__footer .row__footer div.social__footer a img{
    width: 30px;
    height: 30px;
  }

  footer.home__footer .brand_footer,
  footer.home__footer .row__footer{
    display: flex;
    flex-direction: column;
  }
  footer.home__footer .brand_footer img{
    margin-bottom: 2em;
  }
  .nav__item a,
  .social__footer a{
    margin-left: 1em;
    border-bottom: solid 1px black;
    transition: 0.5s ease-out;
    padding-bottom: 6px;
  }
  .nav__item a:hover,
  .social__footer a:hover{
    border-bottom: solid 1px white;
  }
  footer.home__footer .brand_footer .nav__menu{
    justify-content:flex-start;
  }
  footer.home__footer .brand_footer .nav__menu .nav__list{
    display: flex;
    flex-direction: row;
  }
  footer.home__footer .brand_footer .nav__menu .nav__list .nav__item{
    margin-right: 1em;
  }
  .nav__item a{
    margin-left: 0px;
  }
  .all__footer{
    color: hsl(0, 0%, 55%)
  }

ul {
  list-style: none;
}

a {
  text-decoration: none;
  
} 

.home__footer{
  /* padding: 2rem 10rem  4rem 10rem ; */
  background-color: var(--text-color);
  /* display: flex; */
  /* gap: 2rem; */
}

.nav__link {
  color: var(--first-color);
}