@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@100;300&display=swap');

#Hamburguesa{
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}
#Hamburguesa i.fa-solid{
    display: none;
}

header{
    padding-bottom: 8em;
    transition: 0.5s ease-out;
    background-image: url(../img/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: center; */
    background-size:  cover;
}
    header#banner nav{
        display: flex;
        justify-content: space-between;
        justify-items: center;
        padding: 3em  0em;
        width: 100%;
        align-items: center;
    }
    header#banner nav .logo{
        font-size: 2em;
        color:white;
        font-family: 'Alata', sans-serif;
    }
    header#banner nav ul{
        display: flex;
        flex-direction: row;    
    }
    header#banner nav ul li{
        list-style: none;
    }
    header#banner nav ul li a{
        color:white;
        text-decoration: none;
        margin-left: 2em;
        border-bottom: 1px solid transparent;
        padding-bottom: 10px;
        transition: 0.5s ease-out;
    }
    header#banner nav ul li a:hover{
        border-bottom: 1px solid white;
    }

    header#banner .title h1{
        border: solid 2.5px white;
        color:white;
        font-size: 6em;
        margin: 10px;
        width: 700px;
        padding: 14px;
        /* font-weight: 100; */
        /* text-align: center; */
        font-family: 'Josefin Sans', sans-serif;
    }