@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@100;300&display=swap');

    header#banner nav{
        display: flex;
        justify-content: space-between;
        justify-items: center;
        padding-bottom: 20px;
        
        width: 100%;
        align-items: center;
        
    }
    header#banner nav .logo{
        font-size: 2em;
        color:white;
    }
    header#banner nav ul li{
        list-style: none;
    }
    header#banner nav ul li a{
        color:white;
        text-decoration: none;
        margin-left: 2em;
        border-bottom: 1px solid transparent;
        padding-bottom: 10px;
        transition: 0.5s ease-out;
    }
    header#banner nav ul li a:hover{
        border-bottom: 1px solid white;
    }

    header#banner .title h1{
        font-family: 'Alata', sans-serif;

        border: solid 1px white;
        color:white;
        font-size: 3em;
        margin: 10px;
        margin-top: 30px;
        width: 45%;
        padding: 14px;
        font-weight: 100;
        /* text-align: center; */
        font-family: 'Josefin Sans', sans-serif;
    }