/* Dentro de las medidads responsive tenemos tres medidas estandar
 1200 a 1900 es tamano desktop 900 a 700 tablet 600 a 400 mobile o celular */

 @media only screen and (min-width:375px) and (max-width:1000px){
    .container h2{
       font-size: 1.4em;
    }
   h1{
    font-size: 2.2em !important;
    width: 90% !important;
    height: 190px; ;
    margin: 0 !important;
    line-height: 50px;
    max-width: 400px;
   }
   header{
    padding: 0 50px;
    height: 100vh;
   
   }
   #ourtCreation{
     padding: 0 0;
     margin-top: 50px;
   }
   .imagen1 img{
     padding: 50px 30px !important;
     height: 300px;
   }
   .title{
    margin-top: 100px;
   }
   .cartilla{
    padding: 0 40px !important;
    text-align: center;
   }
   .cartilla p{
    line-height: 25px;
    font-weight: 600;
   }
   .container{
    margin-top: 100px !important;
   }
   .container-position-reference{
    position: relative;
    padding: 0 20px !important;
    
   }
   .caja-text{
    position: absolute;
    bottom: -6%;
    left: 40%;
   }
   .container-sup{
    display: block !important;
   }
   .fondo{
     height: 150px !important;
     margin-bottom: 0 !important;
   }
   .fondo img{
     height: 100% !important;
   }
   .text{
     font-size: 30px !important;
     width: 160px;
   }
   .home__footer{
        padding: 2em 1rem 4rem 1rem !important;
        margin-top: 200px;
   }
   .nav__menu{
    margin-top: 0 !important;
    padding: 3rem 0 0 0 !important;
   }

 }
 @media only screen and (min-width:650px) and (max-width:1200px){
    #ourtCreation img{
        height: 400px;
        padding: 50px 0;
    }
 }


@media only screen and (max-width: 1000px) {
   
    header{
        width: 100%;
    }
    header.active{
        background: black;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 3;
        top: 0px;
        transition: 0.5s ease-out;
    }
    header.active nav #Hamburguesa{
        color:white;
        position: absolute;
        right: 10%;
        z-index: 4;
        top: 6%;
    }
    header nav #Hamburguesa i.fa-bars{
        display: block;
    }
    header.active nav #Hamburguesa i.fa-bars{
        display: none;
    }
    header.active nav #Hamburguesa i.fa-close{
        display: block;
    }
    header.active nav .logo{
        margin-bottom: 2em;
    }
    header.active nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start !important;
    }
    header.active div.title{
        display:none !important;
    }
    header#banner.active nav ul{
        display: flex !important;
        flex-direction: column;    
    }
    header#banner nav ul#items_hambur{
        display: none;
    }
    header#banner.active nav ul li{
        margin-bottom: 20px;
    }
    header#banner.active nav ul li a{
        font-size: 2em;
        margin-left: 0px;
        font-family: 'Josefin Sans', sans-serif;
    }
    header#banner nav ul li a{
        padding-bottom: 0px;
    }
    #Hamburguesa{
        display: inline-block;
    }
    header,
    #ourtCreation{
        min-height: 400px;
    }

    header#banner .title h1{
        font-size: 3em;
        width: 100%;
    }
    #ourtCreation img{
        width: 100%;
    }
    .cartilla{
        position:initial;
        padding: 0px;
        width: 100%;
    }
    .cartilla h2{
        font-size: 1.5em;
    }
    .cartilla p{
        font-size: 1em;
    }

    .container-images{
        grid-template-columns: 100% !important;
        grid-template-rows: auto !important;
    }
    .container-images .fondo{
        height: auto;
        margin-bottom: 2em;
    }
    .container-images .fondo img{
        height: auto;
    }


    .home__footer,
    #nav-menu .nav__item{
        flex-direction: column !important;
    }
    .home__footer{
        padding: 0rem;
        /* background-color: var(--text-color); */
        display: flex;
        gap: 0rem;
        flex-direction: column;
    }
    .brand_footer img{
        width: 200px !important;
    }
    .nav__menu{
        gap: 0;
        position: static !important;
        background-color: black !important;
        margin-top: 3em;
    }
    .row__footer{
        display: flex !important;
        flex-direction: column !important;
    }
    .nav__list{
        flex-direction: column !important;
    }
    .brand_footer{
        text-align: center;
    }
    .home__footer{
        padding-top: 4rem !important;
    }
    .row__footer{
        flex-direction: column !important;
    }
    .content__footer{
        margin-left: 0px !important; 
        flex-direction: column !important;
        text-align: center;
    }
    .social__footer{
        position: relative;
        margin-left: 0px !important;
        align-items: center !important;
        display: flex;
        gap: 1rem;
        cursor: pointer;
        justify-content: center;
    }

};

@media only screen and (max-width: 1400px) {
    header#banner .title h1{
        /* font-size: 3em; */
        width: 100%;
    }
    .cartilla{
        left: 35%;
        top: 30%;
    }
    .cartilla h2{
        font-size: 1.5em;
    }
    .cartilla p{
        font-size: 1em;
    }
};