*{
    margin: 0;
    padding: 0;
   font-family: 'Josefin Sans', sans-serif;
}

main{
   
    width: 100%;
    margin:auto;
}

header,
#ourtCreation,
.container > div{
    box-sizing: border-box;
    padding: 0px 100px;
    padding-bottom: 20px;
    width: 100%;
    margin:auto;
    min-height: 500px;
}
