*{
    margin: 0;
    padding: 0;
   
}

header{
    background: url(../img/image-hero.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
    padding: 0px 100px;
    padding-bottom: 20px;
    width: 100%;
    margin:auto;
    height: 400px;
}
